<div class="background" style="background: url('<%= bg %>');background-size: cover;">
  <div class="overlay <%= theme %> ">
    
  </div>
</div>

<!-- Home -->
<div class="home <%= theme %> ">
  <a href="/" data-bypass>
    <h1>Detaild</h1>
  </a>
</div>

<!-- Edit button -->
<% if(loggedIn) { %>

  <div class="change-bg <%= theme %>">
    <span class="chg-bg">change background</span>

    <form id="aws-upload" action="https://detaild.co.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="key" value="uploads/${filename}">
      <input id="awskey" type="hidden" name="AWSAccessKeyId" value="YOUR_AWS_ACCESS_KEY"> 
      <input type="hidden" name="acl" value="public-read"> 
      <input id="redir" type="hidden" name="success_action_redirect" value="http://localhost/">
      <input id="policy" type="hidden" name="policy" value="YOUR_POLICY_DOCUMENT_BASE64_ENCODED">
      <input id="sig" type="hidden" name="signature" value="YOUR_CALCULATED_SIGNATURE">
      <input type="hidden" name="Content-Type" value="image/jpeg">
      <!-- Include any additional input fields here -->

      <!-- File to upload to S3:  -->
      <input id="change-bg" name="file" type="file" style="visibility: hidden;"> 
      <br> 
      <input type="submit" value="Upload File to S3" style="visibility: hidden;"> 
    </form>
  </div>
  
  <div class="signout <%= theme %> ">
    <a href="/logout" data-bypass>
      <i class="icon-signout icon-2x"></i>
    </a>
    <span>sign out</span>
  </div>

  <div class="edit-panel <%= theme %> ">
    <i class="icon-edit icon-2x"></i>
    <span class="editing">edit</span>
    <i class="icon-ok icon-2x"></i>
    <span class="edit-ok">done</span>
  </div>

<% } %>


<!-- View mode -->
<div class="view-mode <%= theme %> ">
  <span class="minimal active">minimal</span>
  <span class="detailed">detailed</span>
</div>

<!-- Learn more link -->
<!-- <div class="learn-more <%= theme %> ">
  <i class="icon-angle-down icon-2x"></i>
</div>
 -->
<!-- Theme. only for this user -->

<% if(loggedIn) { %>
  <div class="theme <%= theme %> ">
    <span class="light <%= theme === 'light' ? 'active' : ''%>">light</span>
    <span class="dark <%= theme === 'dark' ? 'active' : ''%>">dark</span>
  </div>
<% } %>


<!-- Minimal -->
<!-- ================================================================================ -->

<div class="profile minimal <%= theme %>">

  <div class="row">

    <div class="large-12 columns name">

      <!-- <span class="name" data-dp-text="model.name"></span> -->

    </div>
    
  </div>

  <div class="row">

    <div class="large-6 columns">

      <img class="th profile-pic" data-dp-src="model.profile_pic" alt="profile-image">

    </div>

    <div class="large-6 columns">

      <p>
        <div class="row minimal-section">
          <div class="large-2 columns icon-col">
            <i class="icon-user icon-4x"></i>
          </div>
          <div class="large-9 columns minimal-info">
            <span class="name" data-dp-text="model.name"></span>
          </div>
        </div>
      </p>

      <p class="role">
        <div class="row minimal-section">
          <div class="large-2 columns icon-col">
            <i class="icon-suitcase icon-4x"></i>
          </div>
          <div class="large-9 columns minimal-info">
            <span class="role" data-dp-text="model.role  < .position .company"></span>
          </div>
        </div>
      </p>

      <p>
        <div class="row minimal-section">
          <div class="large-2 columns icon-col">
            <i class="icon-bolt icon-4x"></i>
          </div>
          <div class="large-9 columns minimal-info">
            <span class="specialty" data-dp-text="model.specialty"></span>
          </div>
        </div>
      </p>

      <p>
        <div class="row minimal-section">
          <div class="large-2 columns icon-col">
            <i class="icon-globe icon-4x"></i>
          </div>
          <div class="large-9 columns minimal-info">
            <span class="location" data-dp-text="model.location"></span>
          </div>
        </div>
      </p>

    </div>
    
  </div>
  
</div>

<!-- Detailed -->
<!-- ================================================================================ -->


<div class="profile detailed <%= theme %> hide">

  <div class="large-4 columns sidebar">

    <img class="th profile-pic" data-dp-src="model.profile_pic" alt="profile-image">
    <% if(loggedIn) { %>
    <div style="text-align: center;">
      <span class="chg-prof-pic">change profile pic</span>
    </div>
    <form id="aws-upload-profile-pic" action="https://detaild.co.s3.amazonaws.com/" method="post" enctype="multipart/form-data" style="position: fixed; visibility: hidden;">
      <input type="hidden" name="key" value="uploads/${filename}">
      <input id="awskey-p" type="hidden" name="AWSAccessKeyId" value="YOUR_AWS_ACCESS_KEY"> 
      <input type="hidden" name="acl" value="public-read"> 
      <input id="redir-p" type="hidden" name="success_action_redirect" value="http://localhost/">
      <input id="policy-p" type="hidden" name="policy" value="YOUR_POLICY_DOCUMENT_BASE64_ENCODED">
      <input id="sig-p" type="hidden" name="signature" value="YOUR_CALCULATED_SIGNATURE">
      <input type="hidden" name="Content-Type" value="image/jpeg">
      <!-- Include any additional input fields here -->

      <!-- File to upload to S3:  -->
      <input id="change-profile-pic" name="file" type="file" style="visibility: hidden;"> 
      <br> 
      <input type="submit" value="Upload File to S3" style="visibility: hidden;"> 
    </form>

    <% } %>

    <br>

    <br>

    <br>

    <!-- About -->
    <!-- ================================================================================ -->

    <div class="panel radius">

      <h1 class="minimal-header">About</h1>

      <p>
        <div class="row minimal-section">
          <div class="large-3 columns icon-col">
            <i class="icon-user"></i>
          </div>
          <div class="large-9 columns minimal-info model-view">
            <span class="view minimal" data-dp-text="model.name"></span>
            <input type="text" class="edit minimal" data-dp-value="model.name">
          </div>
        </div>
      </p>

      <p class="role">
        <div class="row minimal-section">
          <div class="large-3 columns icon-col">
            <i class="icon-suitcase"></i>
          </div>
          <div class="large-9 columns minimal-info model-view">
            <span class="role minimal view" data-dp-text="model.position"></span>
            <input type="text" class="edit minimal" data-dp-value="model.position">
          </div>
        </div>
      </p>

      <p class="role">
        <div class="row minimal-section">
          <div class="large-3 columns icon-col">
            <i class="icon-home"></i>
          </div>
          <div class="large-9 columns minimal-info model-view">
            <span class="role view minimal" data-dp-text="model.company"></span>
            <input type="text" class="edit minimal" data-dp-value="model.company">
          </div>
        </div>
      </p>

      <p>
        <div class="row minimal-section">
          <div class="large-3 columns icon-col">
            <i class="icon-bolt"></i>
          </div>
          <div class="large-9 columns minimal-info model-view">
            <span class="view minimal specialty" data-dp-text="model.specialty"></span>
            <input type="text" class="edit minimal" data-dp-value="model.specialty">
          </div>
        </div>
      </p>

      <p>
        <div class="row minimal-section">
          <div class="large-3 columns icon-col">
            <i class="icon-globe"></i>
          </div>
          <div class="large-9 columns minimal-info model-view">
            <span class="view minimal location" data-dp-text="model.location"></span>
            <input type="text" class="edit minimal" data-dp-value="model.location">
          </div>
        </div>
      </p>

    </div>

    <!-- Contact -->
    <!-- ================================================================================ -->

    <div class="panel radius">

      <h1 class="minimal-header">Contact</h1>

      <p>
        <div class="row minimal-section">
          <div class="large-3 columns icon-col">
            <a style="color:black;" href="mailto:<%= email %>?Subject=Hello">
              <i class="icon-envelope"></i>
            </a>
          </div>
          <div class="large-9 columns minimal-info model-view">
            <a style="color:black;" href="mailto:<%= email %>?Subject=Hello">
              <span class=" view minimal email" data-dp-text="model.email"></span>
            </a>
            <input type="text" class="edit minimal" data-dp-value="model.email">
          </div>
        </div>
      </p>

<!--       <p>
        <div class="row minimal-section">
          <div class="large-3 columns icon-col">
            <i class="icon-twitter"></i>
          </div>
          <div class="large-9 columns minimal-info model-view">
            <span class="view minimal twitter" data-dp-text="model.twitter"></span>
            <input type="text" class="edit minimal" data-dp-value="model.twitter">
          </div>
        </div>
      </p>
 -->      
      <p>
        <div class="row minimal-section">
          <div class="large-3 columns icon-col">
            <a data-dp-href="model.github_data._json.html_url" target="_blank">
              <i class="icon-github"></i>
            </a>
          </div>
          <div class="large-9 columns minimal-info model-view">
            <a data-dp-href="model.github_data._json.html_url" target="_blank">
              <span class="email" data-dp-text="model.github_data._json.login"></span>
            </a>
          </div>
        </div>
      </p>
      <p>
        <div class="row minimal-section">
          <div class="large-3 columns icon-col">
            <a data-dp-href="model.github_data._json.blog | link" target="_blank">
              <i class="icon-bookmark"></i>
            </a>
          </div>
          <div class="large-9 columns minimal-info model-view">
            <a data-dp-href="model.github_data._json.blog | link" target="_blank">
              <span class="email" data-dp-text="model.github_data._json.blog"></span>
            </a>
          </div>
        </div>
      </p>
      
    </div>

  </div>

  <div class="large-8 columns">

    <div class="row">

      <div class="large-12 columns">

        <!-- Quick -->
        <!-- ================================================================================ -->
        <div class="summary model-view">
          <!-- View -->
          <div class="panel radius callout">
            <input type="text" data-dp-value="model.summary" disabled class="view">
            <input class="edit" type="text" data-dp-value="model.summary" placeholder="You in a short sentence">
          </div>
        </div>

      </div>
      
    </div>
    <div class="row exp-proj-int">

      <div class="large-12 columns">

        <!-- Experiences -->
        <!-- ================================================================================ -->

        <fieldset class="model-view experiences">
          <legend>Experiences</legend>
          <!-- PREVIEW -->
          <div class="row preview" data-dp-each-experience="model.experiences">

            <div class="large-5 columns added">
              <h5 data-dp-text="experience:position" class="preview-view">
              </h5>
              <input class="edit-existing-exp preview-edit" edit-field="position" type="text" data-dp-value="experience:position" data-dp-position="experience:position" data-dp-company="experience:company">
            </div>

            <div class="large-1 columns added dash">
              <h5></h5>
            </div>

            <div class="large-5 columns added">
              <h5 data-dp-text="experience:company" class="preview-view">
              </h5>
              <input class="edit-existing-exp preview-edit" edit-field="company" type="text" data-dp-value="experience:company" data-dp-position="experience:position" data-dp-company="experience:company">
            </div>
            <div class="large-1 columns action">
              <i class="icon-minus icon-2x del-exp del" data-dp-position="experience:position" data-dp-company="experience:company"></i>
            </div>

          </div>
          <!-- EDIT -->
          <div class="row experiences edit-area">
            <div class="large-5 columns">
              <input type="text" class="pos" placeholder="Position">
            </div>
            <div class="large-1 columns added dash">
              <h5 style="color: rgb(150, 150, 150)"></h5>
            </div>
            <div class="large-5 columns">
              <input type="text" class="com" placeholder="Company">
            </div>
            <div class="large-1 columns action">
              <i class="icon-plus icon-2x add-exp add"></i>
            </div>
          </div>
        </fieldset>

      </div>
      
    </div>

    <div class="row">

      <div class="large-12 columns">

        <!-- Projects -->
        <!-- ================================================================================ -->

        <!-- VIEW -->
        <fieldset class="model-view projects">
          <legend>Projects</legend>
          <!-- PREVIEW -->
          <div class="preview" data-dp-each-project="model.projects">

            <div class="row">
              <div class="large-11 columns added">
                <h5 data-dp-text="project:name" class="preview-view">
                </h5>
                <input class="edit-existing-proj preview-edit" edit-field="name" type="text" data-dp-value="project:name" data-dp-name="project:name" data-dp-desc="project:desc">
              </div>

              <div class="large-1 columns added action">
                <i class="icon-minus icon-2x del-proj del" data-dp-name="project:name" data-dp-desc="project:desc"></i>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns added">
                <span data-dp-text="project:desc" class="preview-view"></span>
                <input class="edit-existing-proj preview-edit" edit-field="desc" type="text" data-dp-value="project:desc" data-dp-name="project:name" data-dp-desc="project:desc">
              </div>
            </div>

          </div>
          <!-- EDIT -->
          <div class="row projects edit-area">
            <div class="large-11 columns">
              <input type="text" class="proj-name" placeholder="Project name">
            </div>
            <div class="large-1 columns action">
              <i class="icon-plus icon-2x add-proj add"></i>
            </div>
          </div>
          <div class="row projects edit-area">
            <div class="large-11 columns">
              <input type="text" class="proj-desc" placeholder="A short description about the project">
            </div>
          </div>
        </fieldset>

      </div>
      
    </div>
    <div class="row">

      <div class="large-12 columns">

        <!-- Interests -->
        <!-- ================================================================================ -->

        <fieldset class="model-view interests">
          <legend>Interests</legend>
          <!-- PREVIEW -->
          <div class="preview" data-dp-each-interest="model.interests">

            <div class="row">
              <div class="large-11 columns added">
                <h5 data-dp-text="interest:name" class="preview-view">
                </h5>
                <input class="edit-existing-interest preview-edit" edit-field="name" type="text" data-dp-value="interest:name" data-dp-name="interest:name">
              </div>

              <div class="large-1 columns added action">
                <i class="icon-minus icon-2x del-interest del" data-dp-name="interest:name"></i>
              </div>
            </div>

          </div>
          <!-- EDIT -->
          <div class="row interests edit-area">
            <div class="large-11 columns">
              <input type="text" class="interest-name" placeholder="Interest">
            </div>
            <div class="large-1 columns action">
              <i class="icon-plus icon-2x add-interest add"></i>
            </div>
          </div>
        </fieldset>

      </div>
      
    </div>

  </div>
  
</div>

