// Styles

@import "compass_twitter_bootstrap"
// @import "../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap_awesome"
// @import "../components/compass-twitter-bootstrap/stylesheets_sass/compass_twitter_bootstrap_responsive"

body
  background: url('../images/light_wool.png')

  h1, h2, h3, h4, h5
    font-family: 'Lato', sans-serif
    font-weight: 300

  #main
    position: relative
    height: 100%
    width: 100%



